<?xml version='1.1' encoding='UTF-8'?>
<maven2 plugin="maven-plugin@3.1.2">
  <actions/>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <reporters/>
  <displayName>bootstrap</displayName>
  <version>1.0-SNAPSHOT</version>
  <packaging>jar</packaging>
  <relativePath>bootstrap</relativePath>
  <dependencies>
    <dependency>
      <groupId>nl.asd.demo</groupId>
      <artifactId>logger</artifactId>
      <version>1.0-SNAPSHOT</version>
      <plugin>false</plugin>
    </dependency>
    <dependency>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-surefire-plugin</artifactId>
      <version>2.20</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>eu.stamp-project</groupId>
      <artifactId>pitmp-maven-plugin</artifactId>
      <version>1.1.4</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>eu.stamp-project</groupId>
      <artifactId>pitmp-maven-plugin</artifactId>
      <version>1.1.4</version>
      <plugin>false</plugin>
      <scope>compile</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>nl.asd.demo</groupId>
      <artifactId>loganalyzer</artifactId>
      <version>1.0-SNAPSHOT</version>
      <plugin>false</plugin>
      <scope>compile</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>nl.asd.demo</groupId>
      <artifactId>logservice.gateway</artifactId>
      <version>1.0-SNAPSHOT</version>
      <plugin>false</plugin>
      <scope>compile</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>nl.asd.demo</groupId>
      <artifactId>logservice</artifactId>
      <version>1.0-SNAPSHOT</version>
      <plugin>false</plugin>
      <scope>compile</scope>
      <type>jar</type>
      <classifier>classes</classifier>
    </dependency>
    <dependency>
      <groupId>org.powermock</groupId>
      <artifactId>powermock-module-junit4</artifactId>
      <version>1.7.3</version>
      <plugin>false</plugin>
      <scope>test</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.mockito</groupId>
      <artifactId>mockito-core</artifactId>
      <version>2.8.47</version>
      <plugin>false</plugin>
      <scope>test</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.powermock</groupId>
      <artifactId>powermock-api-mockito2</artifactId>
      <version>1.7.3</version>
      <plugin>false</plugin>
      <scope>test</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.jacoco</groupId>
      <artifactId>jacoco-maven-plugin</artifactId>
      <version>0.7.8</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>junit</groupId>
      <artifactId>junit</artifactId>
      <version>4.12</version>
      <plugin>false</plugin>
      <scope>test</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-failsafe-plugin</artifactId>
      <version>2.18.1</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-shade-plugin</artifactId>
      <version>3.1.1</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>io.fabric8</groupId>
      <artifactId>docker-maven-plugin</artifactId>
      <version>0.25.2</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>nl.asd.demo</groupId>
      <artifactId>notificationservice</artifactId>
      <version>1.0-SNAPSHOT</version>
      <plugin>false</plugin>
      <scope>compile</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>nl.asd.demo</groupId>
      <artifactId>loganalyzer.shared</artifactId>
      <version>1.0-SNAPSHOT</version>
      <plugin>false</plugin>
      <scope>compile</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>com.google.inject</groupId>
      <artifactId>guice</artifactId>
      <version>4.1.0</version>
      <plugin>false</plugin>
      <scope>compile</scope>
      <type>jar</type>
    </dependency>
  </dependencies>
  <children/>
</maven2>